<!DOCTYPE html>
<html ng-app="myapp">

<head>
  <title>myapp</title>
  <meta charset="utf-8">
  <base href="/" />
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/ngApp/css/site.css"/>
</head>

<body>
  <div class="container">
        <h1>myapp</h1>
        <div>
          <a href="/">Home</a> /
          <a href="/about">About</a>
        </div>
        <hr />

        <ui-view></ui-view>
  </div>

  <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" id="menu1"
    data-toggle="dropdown">Car Makes
      <span class="caret"></span>
    </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
        <li role="presentation"><a role="menuitem" href="#">BMW</a></li>
        <li role="presentation"><a role="menuitem" href="#">Tesla</a></li>
        <li role="presentation"><a role="menuitem" href="#">Mini Cooper</a></li>
      </ul>
    </div>

  <script src="/bower_components/angular/angular.min.js"></script>
  <script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="/bower_components/angular-resource/angular-resource.min.js"></script>
  <script src="/bower_components/angular-animate/angular-animate.min.js"></script>
  <script src="/bower_components/angular-touch/angular-touch.min.js"></script>
  <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>

  <script src="/ngApp/app.js"></script>
  <script src="/ngApp/controllers/controllers.js"></script>
  <script src="/ngApp/services/services.js"></script>

</body>

</html>
